body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	line-height: 1.6;
	color: #333;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

hr {
	display: block;
	width: 100%;
	height: 1px;
	border: 0;
	margin: 40px 0;
	background-color: #e5e5e5;
}

/* Container */
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

/* Intro */
.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;  /* 100vh stands for the entire height of the browser window */
	background: url("../images/intro.jpg") center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.intro__inner {
	width: 100%;
	max-width: 880px;
	margin: 0 auto;
	text-align: center;
}

.intro__title {
	color: #fff;
	font-size: 150px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1;
}

.intro__title:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background-color: #fff;
	margin: 60px auto;

}

.intro__suptitle {
	margin-bottom: 20px;
	font-size: 72px;
	font-family: 'Kaushan Script', cursive;
	color: #fff;
}

/* Header */
.header {
	width: 100%;
	padding-top: 30px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	font-size: 30px;
	font-weight: 700;
	color: #fff;
}

/* NaV */
.nav {
	font-size: 14px;
	text-transform: uppercase;
}

.nav__link {
	display: inline-block;
	vertical-align: top;
	margin: 0 15px;
	color: #fff;
	position: relative;
	text-decoration: none;

	transition: color .1s linear;
}

.nav__link:after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	opacity: 0;
	background-color: #fce38a;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;

	transition: opacity .1s linear;
}

.nav__link:hover {
	color: #fce38a;
}

.nav__link:hover:after,
.nav__link.active:after {
	opacity: 1;
}

.nav__link.active {
	color: #fce38a;
}

/* Button */
.btn {
	display: inline-block;
	vertical-align: top;
	padding: 8px 30px;
	border: 3px solid #fff;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;

	transition: background .1s linear, color .1s linear;
}

.btn:hover {
	background-color: #fff;
	color: #333;
}

/* Slider */
.slider {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
}

.slider__inner {
	display: flex;
	justify-content: space-between;
}

.slider__item {
	width: 23%;
	padding: 20px 0;
	position: relative;
	border-top: 3px solid #fff;
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	opacity: 0.7;
}

.slider__item.active {
	opacity: 1;
}

.slider__item.active:before {
	content: "";
	display: block;
	width: 70px;
	height: 3px;
	background-color: #f38181;
	position: absolute;
	top: -3px;
	left: 0;
	z-index: 1;
}

.slider__num {
	font-size: 24px;
	font-weight: 700;
}

/* Section */
.section {
	padding: 80px 0;
}

.section--devices {
	margin-bottom: 40px;
	background: url("../images/devices-bg.jpg") center no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	padding-bottom: 0;
}

.section--gray {
 	background-color: #f8f8f8;
}

.section--clients {
	background: #f5f5f5 url("../images/clients-bg.jpg") center no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
}

.section--map {
	background: #f8f8f8 url("../images/map-bg.jpg") center no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	padding: 50px 0;
}

.section__header {
	width: 100%;
	max-width: 950px;
	margin: 0 auto 50px;
	text-align: center;
}

.section__suptitle {
	font-family: 'Kaushan Script', cursive;
	font-size: 24px;
	color: #333;
}

.section__title {
	font-size: 30px;
	font-weight: 700;
	color: #333;
	text-transform: uppercase;
}

.section__title:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	margin: 30px auto;
	background-color: #f38181;
}

.section__text {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #999;
}

/* card */
.card {
	margin-top: 80px;
	display: flex;
	justify-content: space-between;
}

.card__item {
	width: 380px;
}

.card__inner {
	background-color: #95e1d3;
	position: relative;
}

.card__inner:hover .card__img {
	transform: translate3d(-10px, -10px, 0);
}

.card__inner:hover .card__img img {
	opacity: .1;
}

.card__inner:hover .card__text {
	opacity: 1;
}

.card__img {
	background: linear-gradient(to bottom, #f38181, #fce38a);
	transition: transform .2s linear;
}

.card__img img {
	display: block;
	transition: opacity .1s linear;
}

.card__text {
	width: 100%;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 18px;
	text-align: center;
	position: absolute;
	opacity: 0;
	top: 50%;
	left: 0;
	z-index: 2;
	transform: translate3d(0, -50%, 0);
	transition: opacity .2s linear;
}

.card__info {
	margin-top: 20px;
	text-align: center;
}

.card__name {
	margin-bottom: 5px;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: #333333;
	text-transform: uppercase;
}

.card__prof {
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-size: 15px;
	color: #999999;
	font-weight: 300;
}

/* Statistics */
.statistics {
	background-color: #95e1d3;
}

.stat {
	display: flex;
}

.stat__item {
	flex: 1 1 0;
	padding: 70px 25px;
	border-left: 1px solid #b5eae0;
	text-align: center;
	color: #fff;
}

.stat__item:last-child {
	border-right: 1px solid #b5eae0;
}

.stat__count {
	margin-bottom: 10px;
	font-size: 72px;
	font-weight: 700;
	line-height: 1;
}

.stat__text {
	font-size: 14px;
	text-transform: uppercase;
}

/* Services */
.services {
	display: flex;
}

.services__item {
	flex: 1 1 0;
	padding-left: 85px;
	position: relative;
	padding-right: 35px;
}

.services__icon {
	position: absolute;
	top: 0;
	left: 28px;
	z-index: 1;
}

.services__title {
	margin-bottom: 10px;
	font-size: 14px;
	color: #333;
	text-transform: uppercase;
}

.services__text {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #999;
}

/* Devices */

.devices {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	position: relative;
}

.devices__item {
	display: block;
}

.devices__item--iphone {
	position: absolute;
	bottom: -80px;
	right: -25px;
	z-index: 1;
}

/* WeDo */
.wedo {
	display: flex;
}

.wedo__item {
	width: 50%;
}

/* Accordion */
.accordion__item {
	border: 1px solid #e5e5e5;
	margin-bottom: 5px;
}

.accordion__item.active
.accordion_content {
	display: block;
}

.accordion__item.active
.accordion__header {
	border-bottom-color: #e5e5e5;
}

.accordion__item.active
.accordion__header:after{
	transform: translateY(-50%) rotate(-45deg);
	margin-top: 5px;
}


.accordion__header {
	border-bottom: 1px solid transparent;
	padding: 15px 20px 15px 65px;
	position: relative;
	cursor: pointer;
}

.accordion__header:after {
	content: "";
	display: block;
	width: 16px;
	height: 16px;
	border-top: 2px solid #ccc;
	border-right: 2px solid #ccc;
	position: absolute;
	top: 50%;
	right: 20px;
	z-index: 1;
	transform: translateY(-50%) rotate(135deg);
}

.accordion__icon {
	position: absolute;
	top: 50%;
	left: 20px;
	z-index: 1;
	transform: translateY(-50%);
}

.accordion_content {
	display: none;
	padding: 15px 20px;
	color: #999;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 15px;
}

.accordion__title {
	text-transform: uppercase;
	color: #333333;
	font-size: 14px;
}

/* Reviews */
.reviews {
 padding: 0 110px;
 position: relative;
}

.reviews__item {
	padding-left: 255px;
	position: relative;
}

.reviews__photo {

	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.reviews__photo--avatar {
	position: absolute;
	top: -22px;
	left: 0;
	z-index: 1;
}

.reviews__text {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 24px;
	color: #999;
	margin-bottom: 10px;
}

.reviews__author {
	font-family: 'Kaushan Script', cursive;
	font-size: 24px;
	color: #333333;
}

.reviews__author:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 60px;
	height: 3px;
	margin-right: 10px;
	background-color: #f38181;
}

.reviews__btn {
	position: absolute;
	top: 50%;
	z-index: 1;
	transform: translateY(-50%);
	font-size: 0;
	color: transparent;
}

.reviews__btn:after {
	content: "";
	display: block;
	width: 16px;
	height: 16px;
	border-top: 2px solid #ccc;
	border-left: 2px solid #ccc;
}

.reviews__btn--prev {
	left: 0;
	transform: rotate(-45deg);
}

.reviews__btn--next {
	right: 0;
	transform: rotate(135deg);
}

/* Social */
.social {
	display: flex;
	justify-content: center;
}

.social__item {
	width: 55px;
	height: 55px;
	background-color: #fce38a;
	border-right: 1px solid #f38181;
	text-decoration: none;
	color: #f38181;
	font-size: 30px;
	padding: 12px 10px;
	line-height: 1;
	transition: background .1s linear, color .1s linear;
}

.social__item:last-child {
	border-right: none;
}

.social__item:hover {
	background-color: #f38181;
	color: #fff;
}

/* Logos */

.logos {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Works */
.works {
	display: flex;
}

.works__col {
	flex: 1 1 0;
}

.works__item {
	position: relative;
	background: linear-gradient(to bottom, #f38181, #fce38a);
}

.works__item:hover .works__image {
	opacity: .1;
}

.works__item:hover .works__info {
	opacity: 1;
}

.works__image {
	max-width: 100%;	 /* not scroll*/
	height: auto;        /* not scroll*/
	display: block;
	transition: opacity .2s linear;
}

.works__info {
	text-align: center;
	width: 100%;
	color: #fff;
	padding: 0 15px;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 1;
	transform: translate3d(0, -50%, 0);
	transition: opacity .2s linear;
}

.works__title {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.works__text {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 15px;
}

/* Clients */
.clients {
	display: flex;
	flex-wrap: wrap;
	margin-top: 70px;
}

.clients__item {
	width: 50%;
	padding: 0 45px 0 175px;
	position: relative;
	margin-bottom: 60px;
}

.clients__photo {
	width: 110px;
	height: 110px;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 40px;
	z-index: 1;
}

.clients__name {
	margin-bottom: 5px;
	font-size: 14px;
	color: #333;
	text-transform: uppercase;
}

.clients__prof {
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-size: 15px;
	font-weight: 300;
	color: #333;
}

.clients__text {
	font-size: 15px;
	color: #999;
}

.clients__text:before {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	margin: 15px 0;
	background-color: #f38181;

}

/* Blog */
.blog {
	display: flex;
	justify-content: space-between;
}

.blog__item {
	width: 31%;
}

.blog__header {
	position: relative;
	margin-bottom: 14px;
}

.blog__photo {
	display: block;
	width: 100%;
	height: auto;
}

.blog__date {
	padding: 10px 20px;
	font-style: italic;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	font-weight: 300;
	text-align: center;
	background-color: #95e1d3;
	position: absolute;
	bottom: 10px;
	left: -10px;
}

.blog__date-day {
	font-family: 'Montserrat', sans-serif;
	line-height: 1;
	font-size: 30px;
	font-weight: 700;
	font-style: normal;
}

.blog__content {
	margin-bottom: 14px;
}

.blog__title {
	font-size: 14px;
	color: #333;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.blog__title a {
	color: inherit;
	text-decoration: none;
}

.blog__title a:hover {
	text-decoration: underline;
}

.blog__text {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #999999;
}

.blog__footer {
	border-top: 1px solid #e5e5e5;
	padding-top: 14px;
	font-style: italic;
	font-size: 15px;
	color: #999;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
}

.blog-stat__item {
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}

.blog-stat__item i {
	color: #95e1d3;
}

/* Map */

.map {
	text-align: center;
	text-transform: uppercase;
}

.map__title {
	font-size: 24px;
	font-weight: 700;
	color: #f38181;
}

.map__title a {
	color: inherit;
	text-decoration: none;
}

.map__title a:hover {
	text-decoration: underline;
}

.map__title:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	margin: 15px auto 0;
	background-color: #f38181;
}

/* Footer */
.footer {
	background-color: #f8f8f8;
	padding-top: 65px;
}

.footer__inner {
	padding-bottom: 65px;
}

.footer__logo {
	margin-bottom: 30px;
	font-size: 46px;
	font-weight: 700;
	color: #cccccc;
}

.footer__text {
	margin-bottom: 30px;
	font-size: 15px;
	color: #999999;
	font-family: 'Roboto', sans-serif;
}

.footer__social {
	margin-bottom: 25px;
}

.footer__social-header {
	padding-bottom: 15px;
	font-size: 14px;
	color: #333;
	border-bottom: 1px solid #e5e5e5;
}

.footer__social-header b {
	font-size: 18px;
}

.footer__social-content {
	padding-top: 15px;
	font-style: italic;
	font-size: 15px;
	color: #999999;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.footer__social-content a {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	color: #95e1d3;
	font-size: 18px;
}

/* Subscribe */
.subscribe {
	width: 100%;
	max-width: 380px;
	display: flex;
}

.subscribe__input {
	width: 60%;
	height: 40px;
	padding: 12px;
	background: #fff;
	border: 1px solid #e7e7e7;
	font-size: 15px;
	font-style: italic;
	color: #333;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	line-height: 1.1;
	border-right: 0;
}

.subscribe__input::placeholder {
	color: #cccccc;
}

.subscribe__input:focus {
	outline: 0;
	border-color: #95e1d3;
}

.subscribe__btn {
	width: 40%;
	padding: 12px 30px;
	height: 40px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 14px;
	color: #fff;
	line-height: 1.1;
	background-color: #95e1d3;
	border: 0;
	cursor: pointer;
	text-transform: uppercase;
	transition: background .2s linear;
}

.subscribe__btn:hover {
	background-color: #74b9ac
}

.subscribe__btn:focus {
	outline: 0;
}











